<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Aksesuar</title>
  </head>
  <body>
    <h2>Aksesuar</h2>
  </body>
</html>